<% include header %>


<a href="/docente/consultar">Consultar</a>
<br>
<a href="/admin/insertar">Insertar</a>

<form class="" action="/signout" method="post">
  <input class="form-control" type="submit" name="sign out" value="Sign out">
</form>
<% include footer %>
