<% include header %>

<form action="/admin/insertar" class="" method="post">
  <label for="nombre">Nombre:</label>
  <input id="nombre" name="nombre" type="text" value="">
  <br>
  <label for="codigo">Código:</label>
  <input id="codigo" name="codigo" type="text" value="">
  <br>
  <input class="form-control" name="insertar" type="submit" value="Insertar">
</form>
<% include footer %>
