<% include header %>


<a href="/consultarestudiante" class="btn-md">Consultar</a>
<br>
<a href="/Entrar a sala" class="btn-md">Entrar a sala</a>

<form class="" action="/signout" method="post">
  <input class="form-control" type="submit" name="sign out" value="Sign out">
</form>
<% include footer %>
