<div class="row form-group form-group-lg row-centered">
  <div class="col-sm-12 col-md-8 col-lg-6 col-centered">
    Ingrese su nombre:
    <br>
    <input class="form-control" name="nombre" required type="text" value="">
    <br>
    Ingrese su email
    <input class="form-control" name="email" required type="email" value="">
    <br>
    Ingrese su contraseña:
    <br>
    <input class="form-control" name="contrasena" required type="password" value="" placeholder="Ingrese una clave">
    <span class="help-block">Por favor ingrese una clave decente</span>
    <br>
    Repita su contraseña:
    <br>
    <input class="form-control" name="contrasena2" required type="password" value="">
    <br>
    Acepta términos y condiciones
    <br>
    <input class="form-control" name="acepto" required type="checkbox" value="aceptado">
    Acepto
    <a href="terminos">términos y condiciones.</a>
    <br>
    <input class="form-control" name="submit" type="submit" value="Registrarse">
  </div>
</div>
