<% include header %>

<%if(error==true){%>
  <script type="text/javascript">
    alert("error");
  </script>
<%}%>

Registro:
<form action="/registrodocente" class="" method="post">
  <% include registrogeneral %>
</form>

<% include footer %>
